<div class="container">
    <h1>{{vm.teste2}}</h1>

    <form>
        <div class="form-group">
          <label for="nome" class="form-label">Nome do cliente:</label>
          <input type="text" class="form-control" id="nome" ng-model="vm.cliente.nome" aria-describedby="emailHelp" placeholder="Inserir Nome">
        </div>
        <div class="form-group">
          <label for="rg" class="form-label">RG:</label>
          <input type="text" class="form-control" id="rg" ng-model="vm.cliente.rg" placeholder="Inserir RG" >
        </div>
      </form>

    <button type="button" class="btn btn-primary" ng-click="vm.cadastrar()">Cadastrar</button>
    <button type="button" class="btn btn-success" ng-click="vm.limpar()">Limpar</button>

</div>